* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom scrollbar styles */

/* Scrollbar track (background of the scrollbar) */
::-webkit-scrollbar {
  width: 8px; /* Adjust width for vertical scrollbar */
}

/* Track styling */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #6c5ce7;
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Adds space around thumb */
}

/* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #4b47c6;
}

.side-nav {
  height: 100vh;
  background-color: slateblue;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s ease;
}
.side-nav-open {
  width: 16%;
  padding: 5px;
}
.side-nav-close {
  width: 0%;
  padding: 0px;
  opacity: 0;
}

.side-nav > ul {
  transition: 0.3s ease;
}

.side-nav > ul > li:hover,
.side-nav > ul > li.active {
  border: 1px solid #fff !important;
  cursor: pointer !important;
  transition: 0.5s ease;
}

.page {
  height: auto;
  background-color: #f2f2f2;
  transition: 0.5s ease;
}
.page-open {
  width: 84%;
  margin-left: 16%;
}
.page-close {
  width: 100%;
  margin-left: 0%;
}

button {
  box-shadow: none !important;
}

nav {
  z-index: 1000 !important;
}

/* header showcase styles */
.formatting-box {
  width: 100%;
  height: 150px;
  /* max-height: fit-content; */
  overflow-y: auto;
  position: absolute;
  background-color: slateblue;
  padding: 13px;
  left: 0;
  bottom: 0;
  z-index: 1000;
  /* scrollbar-width: thin; */
  /* scrollbar-color: #6c5ce7 #f1f1f1; */
}

.target {
  cursor: pointer;
  max-width: fit-content;
}

.target::selection {
  background-color: inherit;
}

.title-box {
  z-index: 999;
  position: absolute;
}